<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="maxTaskCount" value="5"/>
      <add key="namespace" value="test_namespace"/>
    </appSettings> 
</configuration>